<section class="users">
  <div class="panel panel-default">
    <div class="panel-body">
    <% unless @users.nil? %>
      <table class="table table-hover table-striped">
        <caption>Users</caption>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><a href="/users/<%= user.id %>/questions"><button class="btn btn-default"><%= user.questions.count %> Questions</button></a></td>
            <td><a href="/users/<%= user.id %>/questions"><button class="btn btn-default"><%= user.answers.count %> Answers</button></a></td>
            <td><a href="/users/<%= user.id %>/questions"><button class="btn btn-default"><%= %> Votes</button></a></td>
            <td><a href="/users/<%= user.id %>"><button class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i> Edit user</button></a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h2>There are no users.</h2>
    <% end %>
    </div>
  </div>
</section>
