<section class="answer_edit">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default white-panel-heading">
      <center>
      <div class="panel-heading">
        <h3 class="panel-title"><%= @answer.content %></h3>
      </div>
      </center>
      <div class="panel-body">
        <form class="form-horizontal" action="/questions/<%= @answer.question.id %>/answers/<%= @answer.id %>/update" method="post" accept-charset="utf-8">

          <div class="form-group">
            <div class="col-sm-12">
              <input name="answer[content]" type="text" placeholder="<%= @answer.content %>" class="form-control">
            </div>
          </div>

          <div class="col-sm-12">

            <span class="pull-right">
              <button id="save" type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Save</button>
            </span>
            <div class="form-group">
              <a href="/questions/<%= @answer.question.id %>/answers"><button id="cancel" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancel</button></a>
            </div>
          </div>

        </form>
      </div><!-- .panel-body -->
    </div><!-- .panel -->
  </div><!-- .col-sm-6 -->

</section>
