<section class="answers">
  <div class="panel panel-default white-panel-heading">
    <div class="panel-heading">
      <center>
        <% if @answers.count == 0 %>
          <h3>You have not answered any questions.</h3>
        <% else %>
          <h3>My Answers</h3>
        <% end %>
      </center>
    </div>
    <% @answers.each do |answer| %>
      <div class="panel-heading">
        <h4 class="panel-title"><%= answer.question.content %></h4>
  <!--       <div class="form-group">
          <a href="/"><button class="btn btn-default"><span aria-hidden="true">&larr;</span> Back</button></a>
        </div> -->
      </div>
      <div class="panel-body">
          <span class="label pull-right">
            <% if session[:user_id] == answer.user.id %>
              <br>
              <form action="/users/<%= answer.user.id %>/answers/<%= answer.id %>/delete" method="post" class="form-inline" role="form" accept-charset="utf-8">
                <div class="form-group">
                  <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                  <a href="/questions/<%= answer.question.id %>/answers/<%= answer.id %>/edit"><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i> Edit</button></a>
                </div>
              </form>
            <% end %>
          </span>
          <blockquote>
            <h4><%= answer.content %></h4>
            <small>
              <span class="label label-success"><span class="glyphicon glyphicon-chevron-up"></span>42</span> Upvotes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="label label-danger"><span class="glyphicon glyphicon-chevron-down"></span>42</span> Downvotes
            </small>
          </blockquote>
      </div><!-- .panel-body -->
    <% end %>
  </div><!-- .panel -->
</section>
